<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.furniture_gallery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Furniture_Gallery"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activites.DetailsFurnitureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.FurnitureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.CategoryItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.CategoryItemDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.CategriesFurnitureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.SavingsOffersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.DiscountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity android:name=".Activites.DiscountOfferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity
            android:name=".Activites.HomeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity
            android:name=".Activites.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar" />
        <activity
            android:name=".Activites.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Furniture_Gallery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>